.intro-video{
    width: 100%;
    height: 100%;
}

.intro-image-div {
    width: 100%;
    height: 100%;
}

.intro-image-div img {
    width: 100%;
    height: 100%;
}

.title-div {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    background: linear-gradient(to bottom, rgba(55, 65, 81, 0.5), rgba(0, 0, 0, 0), rgba(255, 255, 255, 0));
    background: linear-gradient(to top, rgba(31 ,41 ,55, 0.977), rgba(0, 0, 0, 0), rgba(255, 255, 255, 0));
}

.title-div h1 {
    font-size: 4rem;
    position: absolute;
    top: 25%;
    font-family: "Kanit", sans-serif;
    /* letter-spacing: 4px; */
    left: 5%;
    color: #f1f1f1;
}

.play-button-div {
    position: absolute;
}

.play-button-div img {
    width: 70px;
    height: 70px;
}

.wave {
    top: 0;
    /* position: absolute; */
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background-color: rgb(55 65 81);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(119% + 1.3px);
    height: 150px;
}

.wave .shape-fill {
    fill: rgb(31 41 55);
}

.video-parent-box {
    width: 100vw;
    height: max-content;
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    grid-auto-columns: 31%;
    overflow-x: auto;
    /* border-radius: 8px; */
    /* padding: 1rem; */
}

.card-container {
    padding: 2rem;
}

.card {
    border-radius: 10px;
    transition: all 0.6s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
}

.image-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images {
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 1rem;
}

.card h2 {
    margin: 1rem;
    color: rgb(15 23 42);
    font-size: larger;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 1.5px;
}


.wave-2 {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background-color: rgb(15 23 42);
}

.wave-2 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 133px;
}

.wave-2 .shape-fill {
    fill: rgb(55 65 81);
}


.videos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    border-radius: 10px;
    /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: orange;
    height: 2px;
    /* Color of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Color of the handle on hover */
}